{% extends "_layout.html" %}

{% block content %}

<h1>User {{product.id}}</h1>

<h1 style="text-align: center;">{{error}}</h1>
{% if error == None %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.name | truncatechars:15}}</td>
            <td>{{product.description | truncatechars:50}}</td>
            <td>{{product.price| truncatechars:7}}</td>
            <td>{{product.stock| truncatechars:7}}</td>
            <td>{{product.category| truncatechars:15}}</td>
            
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-warning" href="{% url 'edit' product.id%}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a type="button" class="btn btn-danger" href="{% url 'delete' product.id %}">
                        <i class="bi bi-trash3"></i>
                    </a>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{%endif%}
{% endblock %}